/*STYLESHEET*/

/* Defines the web-imported font */
@font-face {
    font-family: "Open Sans";
    src: url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
}

/* Contains base variables */
:root {
    --base-color: lightgray;
}

* {
    /* Sets entire page's font to Open Sans */
    font-family: "Open Sans", sans-serif;
}

header {
    background-color: #deb887; /* burlywood */
}

body {
    background-color: var(--base-color, #fff); /* If --base-color is invalid for some reason, will default to white */
}

footer {
    background-color: #deb887; /* burlywood */
}

footer h2{
    background-color: #fff; /* white */
}

h1 {
    color: #00008b; /* darkblue */
    text-align: center;
}

h2 {
    color: rgb(255, 0, 255); /* magenta */
    text-align: center;
}

h3 {
    color: rgba(0, 128, 0, 0.5); /* color(from green srgb r g b / 0.5) */
    text-decoration: underline;
}

h3:has(+ p) {
    color: #20b2aa; /* lightseagreen */
}

h3 + p {
    color: hsl(180, 72%, 44%); /* hsl(44, 95%, 42%) */
}

ul > li {
    color: #2f4f4f; /* darkslategrey */
}

fieldset ~ img {
    border-width: 3px; /* 5px */
}

/* Used for both header and footer */
.box {
    /* Border */
    border-style: solid;
    border-color: color-mix(in HSL, blue 70%, white); /* color-mix(in HSL, blue 50%, white) */
    border-width: 2px; /* 2mm */
    border-radius: 10px; /* 7px */

    /* Padding */
    padding: 1cm 38px; /* 1cm 37.8px */
    padding-left: 1cm; /* 1cm */
    padding-bottom: 38px; /* 37.8px */

    /* Margin */
    margin: 10vh 20vw; /* 10vh 10vw */
    margin-left: 20vw; /* 10vw */
    margin-bottom: 10vh; /* 10vh */
}

/* Used for general body texts */
section.general {
    /* Border */
    border-style: none;
    border-radius: 8px; /* 4px */

    /* Padding */
    padding: 15px; /* 20px */

    /* Margin */
    margin: auto;
}

form {
    position: static;
    /* Makes the form into a centered */
    display: flex;
    justify-content: center; /* grid */
    align-items: center; /* space-evenly */
    gap: 10px; /* none */
}

nav {
    /* Flex container for the navigation bar */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px; /* 10px */
}

audio {
    display: block; /* flex */
    justify-content: center;
    align-items: center;
}

video, 
img {
    max-width: 100%;
    height: auto;
}

summary:hover {
    color: #0000ff; /* blue */
}

button {
    &:hover {
        color: #808080; /* gray */
    }
    &:active {
        color: #000; /* black */
    }
}

a[href="#poll"] {
    color: #800080; /* purple */
}

@media (min-width: 30em) and (max-width: 50em) {
    #cat {
        position: relative; /* static */
        align-items: center; /* center */
        justify-content: center; /* center */
    }
}

@media (min-width: 51em) {
    #cat {
        display: none;
    }
    header {
        position: sticky;
        top: 10px; /* 20px */
    }
}

